<header class="page-header">
    <section class="container">
        <div class="header-grid w-bottom-line">
            <div class="header-grid--brand">
                <h1 class="header-grid--brand__item"><a class="header-grid--brand__link" href="/">Wannabe Tech Blog</a></h1>
            </div>
            <div class="header-grid--nav">
                <ul class="nav-pane">
                    <li class="nav-pane__item"><a class="nav-pane__link" href="/">Home</a></li>
                    <li class="nav-pane__item"><a class="nav-pane__link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-pane__item" id="nav-login"><a class="nav-pane__link" href="/login">Login</a></li>
                    <li class="nav-pane__item" id="nav-logout"><a class="nav-pane__link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </section>
</header>