<section class="header-grid">
    <div class="grid-brand">
        <h1 class="brand-item"><a href="/">Wannabe Tech Blog</a></h1>
    </div>
    <nav>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </nav>
</section>