<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <!-- Navigation Partials -->
        {{> header}}
    </header>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        
    </footer>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/signup.js"></script>
    <script src="/public/js/dashboard.js"></script>
</body>
</html>
